#settings, #visualization, #controls {
    width: 700px;
    margin: auto;
    text-align: center;
}

#settings > div {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    width: 100px;
}

#settings .ui-slider {
    margin: auto;
}

#settings .ui-slider-handle {
    width: 3em;
    height: 1.6em;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    margin-left: -0.8em;
}
